<!DOCTYPE html>
<html>
<head>
	<!-- BASIC -->
	<title>SwapBooks</title>
	<meta charset="utf-8" />
	<link rel="" href="favicon.png" />

	<!-- JQUERY -->
	<%= javascript_include_tag "jquery-1.8.3.min" %>

	<!-- BOOTSTRAP -->
	<%= stylesheet_link_tag "bootstrap", media: "all" %>
	<%= javascript_include_tag "bootstrap" %>

	<!-- CUSTOM -->
	<%= stylesheet_link_tag "main", media: "all" %>
	<%= javascript_include_tag "main" %>

	<!-- LO SPECIFIC CSS -->
	<style>
		body {
			background-color: transparent !important;
		}
	</style>

</head>

<body>	

	<nav class="navbar navbar-default lo-navbar" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand logo" href="#"><%= image_tag "logo.png", width: '300' %></a>
			</div>
			<ul class="nav navbar-nav navbar-right login-button">
				<li><a href="#">login</a></li>
			</ul>
		</div>
	</nav>

	<div class="container buffer"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 text-center">
				<h2>Just <span style="color:rgba(231, 76, 60,1.0);">two clicks</span> to your textbook.</h2>
			</div>
			<div class="col-lg-2"></div>
		</div>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 text-center">
				<input type="email" class="form-control" id="eduEmail" placeholder="Enter your .edu email...">
			</div>
			<div class="col-lg-2"></div>
		</div>
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4 text-center">
				<button type="button" class="btn btn-danger btn-lg register-button">Register</button>
			</div>
			<div class="col-lg-4"></div>
		</div>
	</div>

	<div class="footer text-center">
		<p>Questions? Press? Email <a href="mailto:contact@swapbooks.net">contact@swapbooks.net</a>.</p>
	</div>

</body>
</html>