<h1>All the books!</h1>
<ul>
  <% @all_books.each do |book| %>
    <div class="book-entry">
      <li>
        <p><%= book.name %></p>
        <p><%= book.isbn %></p>
        <%= button_to("Buy it", book_matches_path(book_id: book.id, state: 'buying'), method: :post) %>
        <%= button_to("Sell it", book_matches_path(book_id: book.id, state: 'selling'), method: :post) %>
      </li>
    </div>
  <% end %>
</ul>

<h2>For Sale</h2>
<% @books_for_sale.each do |book_for_sale| %>
  <li>
    <p><%= book_for_sale.name %></p>
  </li>
<% end %>
