	<div class="container buffer"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 text-center">
				<!-- <h2>Just <span style="color:rgba(231, 76, 60,1.0);">two clicks</span> to your textbook.</h2> -->
			</div>
			<div class="col-lg-2"></div>
		</div>
		<div class="row" >
			<div class="col-lg-2"></div>
			<div class="col-lg-8 text-center" >
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<br /><div><%= f.label :email %><br />
					<%= f.email_field :email, autofocus: true %></div>

					<div><%= f.label :password %><br />
						<%= f.password_field :password, autocomplete: "off" %></div>

						<% if devise_mapping.rememberable? -%>
						<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
						<% end -%>
					</div>
					<div class="col-lg-2"></div>
				</div>
				<div class="row">
					<div class="col-lg-4"></div>
					<div class="col-lg-4 text-center">
							<%= f.submit "Login", :class => 'btn btn-danger btn-lg register-button'%>
						<% end %>

						<%= render "devise/shared/links" %>
					</div>
					<div class="col-lg-4"></div>
				</div>
			</div>

			<div class="lo-footer text-center">
				<p>Questions? Press? Email <a href="mailto:contact@swapbooks.net">contact@swapbooks.net</a>.</p>
			</div>