<!DOCTYPE html>
<html>

<head>
  <!-- BASIC -->
  <title>SwapBooks</title>
  <meta charset="utf-8" />

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag "/favicon.ico?1" %>
  <%= csrf_meta_tag %>

  <!-- LO SPECIFIC CSS -->
  <style>
    body {
      background-color: transparent !important;
    }
  </style>

</head>

<body>

<nav class="navbar navbar-default lo-navbar" role="navigation">
  <div class="container-fluid container-login">
    <div class="navbar-header">
      <a class="navbar-brand logo" href="#"><%= image_tag "logo.png", width: '300' %></a>
    </div>
    <ul class="nav navbar-nav navbar-right login-button">
      <li><a href="/users/sign_in">Log in</a></li>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </ul>
  </div>
</nav>

    <p style = "color:#e74c3c; font-size:20px;" class="notice text-center"><%= notice %></p>
    <p style = "color:#e74c3c; font-size:20px;" class="alert text-center"><%= alert %></p>

  

  <%= yield %>

</body>



</html>

