<!DOCTYPE html>
<html>

<head>
  <!-- BASIC -->
  <title>SwapBooks</title>
  <meta charset="utf-8" />

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag "/favicon.ico?1" %>
  <%= csrf_meta_tag %>

  <!-- LO SPECIFIC CSS -->
  <style>
  body {
    background-color: transparent !important;
  }
  </style>

</head>

<body>

  <nav class="navbar navbar-default lo-navbar" role="navigation" style="position:relative;top:-51px">
    <div class="container-fluid container-login" style="position:relative;top:53px;">
      <div class="navbar-header">
        <a class="navbar-brand logo" href="#"><%= image_tag "logo.png", width: '300' %></a>
      </div>
      <ul class="nav navbar-nav navbar-right login-button">
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path, data: { no_turbolink: true } %></li>
        <% end %>
      </ul>
    </div>
  </nav>


  <% flash.each do |type, message| %>
  <div class="alert  custom-alert-warning text-center fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
  <% end %>
  

  <%= yield %>

</body>

<div id="Debugging Information">
  <%= debug(params) if Rails.env.development? %>
  <%#= debug(request) if Rails.env.development? %>
</div>

</html>

