<!DOCTYPE html>
<html>

<head>
  <title>SwapBooks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag '/favicon.ico?1"' %>

  <%= csrf_meta_tags %>
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <p><%= current_user.provider %></p>
    <%= link_to 'Edit profile', edit_user_registration_path %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</body>

<div id="Debugging Information">
  <%= debug(params) if Rails.env.development? %>
</div>

<div id="Sanity check" %>
  Current user: <%= current_user || "nil" %>
</div>

</html>

